canvas {
    
    border-image-source: url("Credits_Image_640x480.jpg");
    border-image-slice: 30;
    border-style: solid;
    border-width: 20px;
    padding: 10px;
    box-shadow:
        0 0 0 5px;
        
}