canvas {
    border-image-source: url(https://1drv.ms/i/c/2f0160004286c85e/IQAaNtr_CyxlTIWYJtlsXdH9AQNGmbUsJjKSRMurXcMtLVI?e=a8vUYh);
    border-image-slice: 30;
    border-image-repeat: round;
    border-style: solid;
    border-width: 20px

}